<div id="<%= dom_id book %>">
  <div class="card mb-3 img-fluid">
    <div class="row g-0">
      <div class="col-4">
        <% if book.image.attached? %>
          <%= image_tag book.image, class: "img-fluid rounded-start" %>
        <% end %>
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title"><%= book.title %></h5>
          <p class="card-text"><%= book.author %></p>
          <p class="card-text"><small class="text-body-secondary"><%= book.isbn %></small></p>
        </div>
      </div>
    </div>

  </div>
</div>
