<h1>Books</h1>

<%= link_to "New book", new_book_path %>

<div id="books" class="d-grid">
  <% @books.each do |book| %>
    <p>
      <h3><%= book.title %></h3>
      <% if book.author.present? %>
        <%= book.author %>
      <% else %>
        <em>No author</em>
      <% end %>

      <% if book.shelf.present? %>
        <%= book.shelf.name %>
      <% else %>
        <em>No shelf</em>
      <% end %>
      <%= link_to "Edit", edit_book_path(book) %>
    </p>
  <% end %>
</div>
